{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <title> Notification Test </title>

        <!-- JQuery -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="{% static 'js/reconnecting-websocket.min.js' %}" charset="utf-8"></script>

    </head>
    <body>
   
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">

    <script>


        document.querySelector('#chat-message-submit').onclick = function(e) {
        
            const chatSocket = new ReconnectingWebSocket(
                'ws://'
                + window.location.host
                + '/notifications/'
                + document.querySelector('#chat-message-input').value
                + '/'
            );



            chatSocket.onmessage = function(e) {
                console.log('msg received');
            };

            chatSocket.onclose = function(e) {
                console.error('Chat socket closed unexpectedly');
            };

            chatSocket.onopen = () => chatSocket.send(JSON.stringify({
                'message': "{{data}}"
            }));
            


        };



    </script>


    </body>
</html>
